rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper function to check for admin role
    function isAdmin() {
      // Check if the user is authenticated and if their user document has role == 'admin'
      return request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    match /users/{userId} {
      // Any authenticated user can read/write their own document
      allow read, update, write: if request.auth.uid == userId;

      // Admins can list and read all user documents
      allow list, read: if isAdmin();

      // Admins can also write to any user document
      allow write: if isAdmin();

      // Rules for subcollections (onboarding, dietPlan, etc.)
      match /{subcollection}/{docId} {
        allow read, write: if request.auth.uid == userId || isAdmin();
      }
    }

    match /team/{memberId} {
      // Admins can manage the team collection
      allow list, read, write: if isAdmin();
    }
    
    match /reviews/{reviewId} {
      // Admins can manage the reviews collection
      allow list, read, write: if isAdmin();
    }

    match /payments/{paymentId} {
        // A user can create their own payment document
        allow create: if request.auth.uid == paymentId;
        // Admins can read and update payment documents for verification
        allow read, update: if isAdmin();
    }
  }
}
